<ion-header>
    <ion-toolbar color="success">
        <ion-title style="text-align:center;">REGISTRO</ion-title>
    </ion-toolbar>
</ion-header>

<form [formGroup]='userForm' (ngSubmit)='onSubmit()'>
    <input type="text" formControlName='name'> <br>
    <input type="text" formControlName='lastname'> <br>
    <input type="text" formControlName='email'> <br>
    <input type="text" formControlName='password'> <br>
    <button type="submit">Send</button>
</form>

<ion-content>
    <form>
        <ion-list>
            <input type="text">
            <ion-item>
                <ion-label stacked>Nombre</ion-label>
            </ion-item>

            <ion-item>
                <ion-label stacked>Apellido</ion-label>
                <ion-input type="text" expand="full" ngModel name="apellido"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input type="email" expand="full" ngModel name="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Contraseña</ion-label>
                <ion-input type="password" ngModel name="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Edad</ion-label>
                <ion-input type="number" ngModel name="edad"></ion-input>
            </ion-item>

            <ion-button expand="full" size="large" color="success" type='submit'>
                REGISTRARSE
            </ion-button>
        </ion-list>
    </form>
</ion-content>