<ion-header>
  <ion-toolbar>
    <ion-title>Completa los campos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating" >Nombre</ion-label>
    <ion-input clearInput type="text" name="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" >Apellido</ion-label>
    <ion-input clearInput type="text" name="apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" >Fecha de nacimiento</ion-label>
    <br>
    <ion-input clearInput type="date" maxlength="8" name="birthDate"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" >Detalles</ion-label>
    <ion-input clearInput type="text" name="details"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" >Numero de telefono</ion-label>
    <ion-input clearInput type="tel" name="cellphone"></ion-input>
  </ion-item>

  <br>

  <ion-button expand="block" color="light">Crear cuenta</ion-button>

</ion-content>
