<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LibraryManager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class=icon src="https://image.freepik.com/vector-gratis/perfil-empresario-dibujos-animados_18591-58479.jpg" alt="center">
  
  <ion-button expand="full" color="primary">
    Nombre/s
    <ion-input type="text"></ion-input>
    </ion-button>

  <ion-button expand="full" color="primary">
      Apellido/s
      <ion-input type="text"></ion-input>
      </ion-button>

  <ion-button expand="full" color="primary">
        Contraseña
        <ion-input type="text"></ion-input>
        </ion-button>

  <ion-button expand="full" color="primary">
          Correo electrónico
          <ion-input type="text"></ion-input>
          </ion-button>
          
  <ion-button expand="full" color="primary">
            Número telefónico
            <ion-input type="text"></ion-input>
            </ion-button>
</ion-content>
