<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align:center;">¡BIENVENIDO!</ion-title>
    <ion-title style="text-align:center;">VAMOS A REALIZAR</ion-title>
    <ion-title style="text-align:center;">LA CONFIGURACIÓN INICIAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class=icon src="assets/icon/LibraryManager.jpeg" alt="center">
  <ion-item>
    <ion-label position="floating">Digita el nombre de tu biblioteca</ion-label>
    <ion-input  type="text" [(ngModel)]="NombreBiblioteca" name="NombreBiblioteca"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Digita la cantidad de libros a prestar</ion-label>
    <ion-input  type="number" [(ngModel)]="number" name="cantlibros"></ion-input>
  </ion-item>
  <ion-button expand="full" size="large"  color="success" (click)="sendRequest()" routerLink="/tab1">
    CONTINUAR
  </ion-button>

</ion-content>
